{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styling.css' %}" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <nav>
      <ul class="navigation">
        {% if user.is_authenticated %}
        <li class="nav_item"><a href="{% url 'home' %}">Receipts</a></li>
        <li class="nav_item">
          <a href="{% url 'account_list' %}">Accounts</a>
        </li>
        <li class="nav_item">
          <a href="{% url 'expense_list' %}">Expense Categories</a>
        </li>
        <li class="nav_item">
          <a href="{% url 'receipt_create' %}">Add Receipt</a>
        </li>
        <li class="nav_item">
          <a href="{% url 'account_create' %}">Add Account</a>
        </li>
        <li class="nav_item">
          <a href="{% url 'expense_create' %}">Add Expense</a>
        </li>
        <li class="nav_item"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="nav_item"><a href="{% url 'login' %}">Login</a></li>
        <li class="nav_item"><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
