{% extends 'base.html' %} {% block content %}
<div class="form_design">
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="button_design">Signup</button>
  </form>
</div>
{% endblock content %}
