.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  color: #a476c2;
  margin: 1em;
}

.nav_item:hover > a {
  color: #d9bcef;
}

a:visited {
  color: #ea8fc2;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  color: #ba8dca;
}

table {
  border: 5px double #a476c2;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
}

td {
  border: 2px dotted #a476c2;
  padding: 0.5em;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #ea8fc2;
}

th {
  border: 2px dotted #a476c2;
  padding: 0.5em;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 15px;
  color: #ba8dca;
}

p {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  color: #a476c2;
}

.form_design {
  max-width: 400px;
  border-radius: 10px;
  border: 1px dashed #a476c2;
  padding: 24px;
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  color: #ea8fc2;
}

.form_design > form {
  text-align: center;
}

.button_design {
  display: block;
  padding: 5px;
  background-color: #fbe4ea;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #a476c2;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 14px;
  color: #a476c2;
}
